@import 'styles/breakpoints';


.tray {

	--vert-marg: 16px;

	// Initial state
	display: none;
	opacity: 0;

	// Basics
	// position: fixed;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: var(--tray-w, 100vw);
	height: 100vh;
	// padding-top: #{"calc(var(--topbar-ht) + var(--btmbar-ht) + var(--header-pos-top, 0px))"};
	padding-top: 60px;
	// padding-bottom: 400px; // make room for bottom bar
	padding-bottom: 160px;
	z-index: 1000;
	overflow-y: scroll;
	overflow-x: hidden;

	// Motion
	transform: #{"translateX(var(--tray-w))"};
	transition-duration: var(--trans-dur);
	transition-timing-function: var(--trans-func);
	transition-property: opacity;

	// Aesthetics
	background-color: white;
	color: var(--tray-fg);
	text-align: right;

}

.tray-open-started.tray,
.tray-opened.tray {
	display: block;
}

.tray-opened.tray {
	opacity: 1;
	transform: translateX(0);
}

html:not(.keyboard-tray-enabled) .tray:focus {
	outline: 0;
}

// -----------------------------
// Tray =Toggle Button
// =Navicon
// -----------------------------

$navicon-line-3-y: 24px;

.tray__toggle {
	position: absolute;
	z-index: 1001;
	right: 0;
	// top: 0;
	bottom: -8px;
	padding: #{"16px calc(var(--gutter-container) - 3px)"};
}

.tray__toggle svg {
	overflow: visible;
}

.tray__toggle-line {
	transition-duration: var(--trans-dur);
	transition-property: transform;
	transition-timing-function: var(--trans-func);
	position: relative;
	transform-origin: left top;
}

// @related: naviconpos (inline SVG attributes overridden by CSS)
.tray__toggle-line--1 {
	// transform: translate(0, 0);
	transform: translate(3px, 2px);
}
.tray__toggle-line--2 {
	// transform: translate(4px, 12px);
	transform: translate(7px, 14px);
}
.tray__toggle-line--3 {
	// transform: translate(0, 24px);
	transform: translate(3px, 26px);
}


// ---------------
// Toggle (opened)
// ---------------
.tray__toggle:hover,
// .tray__toggle:focus,
.tray-opened.tray__toggle {
	color: var(--tray-toggle-hover) !important;
}

.tray-opened.tray__toggle {
	color: var(--tray-toggle);
}

.tray-opened .tray__toggle-line--1 {
	transform: translate(6px, 2px) rotate(45deg) scaleX(1.1);
}

.tray-opened .tray__toggle-line--2 {
	opacity: 0;
}

.tray-opened .tray__toggle-line--3 {
	transform: translate(6px, 26px) rotate(-45deg) scaleX(1.1);
}


// -----------------------------
// Tray nav
// -----------------------------

.nav--main--tray {
	--vert-pad: var(--vert-marg);
}

.nav--main--tray .menu-btn-depth-0 {
	font-size: 30px;
}

.nav--main--tray .menu-btn-depth-1 {
	font-weight: bold;
	text-decoration: underline;
}

.tray .mega {
	position: relative;
	padding-right: 0;
	margin-bottom: var(--vert-marg-cta);
}

.tray .mega__row {
	margin-left:  0;
	margin-right: 0;
}

.tray .mega__main-link {
	font-size: 22px;
}

.tray .nav--main--tray {
	// --gutter-container: 22px;
	--fg-color: var(--bluelight);
	// font-size: 30px;
	--font-size: 18px;
	padding-left:  0;
	padding-right: 0;
}

.tray .mega__col,
.tray .nav--main--tray .menu-title,
.tray .nav--main--tray .menu-btn {
	padding-left:  var(--gutter-container);
	padding-right: var(--gutter-container);
}

.tray .mega__col {
	margin-bottom: var(--vert-marg);
}

.tray .mega__col.nav {
	--gutter: 0;
}

.tray .mega__col.nav + .mega__col.nav.no-title {
	margin-top: #{"calc(var(--vert-marg) * -1)"};
}

.tray .mega:not(.open) {
	height: 0;
	overflow: hidden;
	margin-bottom: 0;
}

