/* ====================================================================================

	Color rules

	@related: colors

==================================================================================== */

/*-----------------------------------------------------------------------------------*/
/* =Background colors
/*-----------------------------------------------------------------------------------*/

// ----------------------
// =Dark BG areas
// ----------------------
.dark-area--primary-color {
	background-color: var(--primary-color);
}

// ----------------------
// =Light BG areas
// ----------------------
.light-area {
	background-color: var(--off-white);
}

.light-area--gainsboro {
	background-color: var(--gainsboro);
}

.light-area--white {
	background-color: var(--white);
}
