/* ====================================================================================

	Meta

==================================================================================== */

.meta {
	--vert-marg: 1rem;

	color: var(--pre-heading-color);

	@include PreHeading();
}


@include media(">=md") {

	.meta {
		--vert-marg: 1.25rem;
	}

}
