/* ====================================================================================

	Padding utility classes

==================================================================================== */

@each $breakpoint-key, $breakpoint in $breakpoints-map {
	@if $breakpoint-key != "" { $breakpoint: #{$breakpoint-delimiter}#{$breakpoint}; }
	@include breakpoint($breakpoint-key) {

		// ----------------------------------------------
		// Cancelers
		// ----------------------------------------------

		.pad-none#{$breakpoint} {
			padding:        0;
		}

		.pad-y-none#{$breakpoint} {
			padding-top:    0;
			padding-bottom: 0;
		}

		.pad-x-none#{$breakpoint} {
			padding-left:   0;
			padding-right:  0;
		}

		.pad-top-none#{$breakpoint} {
			padding-top:    0;
		}

		.pad-btm-none#{$breakpoint} {
			padding-bottom: 0;
		}

		.pad-left-none#{$breakpoint} {
			padding-left:   0;
		}

		.pad-right-none#{$breakpoint} {
			padding-right:  0;
		}

	}
}
