/* ====================================================================================

	Single (misc. post types)

==================================================================================== */

/*-----------------------------------------------------------------------------------*/
/* _single.scss
/*-----------------------------------------------------------------------------------*/

// ------------------------
// Highlight + Share
// ------------------------
.share-this-popover {
	z-index: #{"calc(var(--header-z) + 4)"};
}

.share-this-popover>ul {
	background: var(--primary-color);
}
.share-this-popover:before {
	border-color: #{"var(--primary-color) transparent"};
}

[data-share-via="email"] svg {
	position: relative;
	top: -3px;
}

