/* ====================================================================================

	Selected Text

	@related: fonts_text_charstyles_type_headings_titles

==================================================================================== */

@mixin SelectedText() {
	background-color: var(--primary-color);
	color: var(--white);
}

// These 2 types can't be chained to each other. CAN be nested inside another selector, though, if you add & (&::selection)
::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
li::-moz-selection,
a::-moz-selection,
p::-moz-selection {
	@include SelectedText();
}

::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
li::selection,
a::selection,
p::selection {
	@include SelectedText();
}
